DATABASE_URL=postgresql://postgres:changeme@localhost:5432/secure_lms_dev
PORT=4000
JWT_ACCESS_SECRET=change-this-to-a-random-64-byte-hex-string
JWT_REFRESH_SECRET=change-this-to-a-different-random-64-byte-hex-string
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development

CLIENT_URL=http://localhost:3000